
html {
    background-color: #100f0d;
  }

img{
  width:100%;
  height: 20%;
}
 
body {
    text-align: center;
    color: #f3ecda;
    font-size: 18px;
}

h1 {
  color: black;
  text-align: left;
}


h6 {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #f3ecda;
    margin-right: 400px;
    margin-left: 400px;
  }

h5 {
  font-size: 15px;
  text-align: justify;
  color: #f3ecda;
  margin-right: 450px;
  margin-left: 450px;
  }



#mapid { 
  height: 800px;
  width: width
}



#sidebar {
  background: #f1edda;
  opacity: 0.85;
  /* height: 600px; */
  font-size: 18px;  
  text-align: left;
  color:black ;
}


h4 {
  font-size: 30px;
  padding-top: 70px;
}


#timeline {
  font-size: 18px;
  color: #f3ecda;
  background-color: #100f0d;
  text-align: center;
}


.NetworkChart { grid-area: righttop;}
.item2 { grid-area: menu; }
.item3 { grid-area: main; margin-left: 60px; margin-right: 60px;}
.item4 { grid-area: right; margin-left: 60px; margin-right: 60px; padding-top: 60px;}
/* .item5 { grid-area: footer; text-align: center; color: turquoise;} */
a {font-size: 18px; color: white;} 

.grid-container {
  display: grid;
  grid-template-areas:
    'header header righttop righttop righttop righttop'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 5px;
  /* background-color: #000000; */
  padding: 2px;
}
