svg {
    border: #404040 2px solid;
  }
html {
    background-color: #ebebeb;
  }
body {
    text-align: center;
    margin: 0;
    padding: 3px 0;
    color: #000000;
  }
h2 {
    text-align: center;
    margin: 0;
    padding: 3px 0;
    color: #000000;
  }